@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

/* variables */
:root {
  --font-family: "DM Sans", sans-serif;
  --alt-font: "DM Mono", monospace;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 800;
  --bg-color: #aff2d8;
  --bg-gradient: linear-gradient(to top right, #aff2d8, #9491e2 99%);
  --secondary-gradient: linear-gradient(22deg, #a8dadc, #15c96f);
  --card-gradient: linear-gradient(#f492f0, #a18dce);
  --card-bg: rgba(255, 255, 255, 0.3);
  --primary-color: #000000;
  --secondary-color: #adfda2;
  --alt-color: #8583cb;
  --primary-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.2rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
  --divider: 0.1px solid rgba(0, 0, 0, 0.7);
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
  background-color: #aff2d8;
  scrollbar-width: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  color: var(--primary-color);
  background: var(--bg-gradient);
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  width: 0 !important;
}

.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 4rem;
  background: transparent;
  border-bottom: var(--divider);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  transition: var(--transition);
}

a:hover {
  color: var(--secondary-color);
}

nav a {
  color: var(--primary-color);
  transition: var(--transition);
}

nav a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

nav ul {
  gap: 2rem;
}

.navigation {
  display: flex;
}

.mobile-nav {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 80px;
  left: 0;
  z-index: 10;
  background: rgba(133, 131, 203, 0.8);
  backdrop-filter: saturate(180%) blur(10px);
}

.hide {
  display: none;
}

.nav-link {
  font-weight: 300;
}

.burger-menu {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

.main-container {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

section {
  width: 100%;
  padding: 8px;
  padding-bottom: 20px;
}

.hero {
  max-width: 1000px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.bio {
  max-width: 400px;
  overflow: visible;
  padding: 10px;
}

.alt-text {
  font-family: var(--alt-font);
  font-size: 0.8rem;
}

.bio-title {
  font-size: 3rem;
}

.bio-text {
  font-weight: var(--bolder-font);
  font-size: 2rem;
}

.right {
  text-align: end;
}

.half {
  padding-left: 40%;
}

.skill-list {
  font-size: 0.8rem;
  padding-left: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skill > li {
  text-transform: uppercase;
}

.hero-img {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.img-bg {
  width: 240px;
  background-color: var(--alt-color);
  padding-top: 50px;
  border-radius: 120px 120px 120px 120px;
  transition: background-color 1s ease-in-out 0.25s;
}

.hero-img:hover .img-bg {
  background-color: var(--secondary-color);
}

.img-bg > img {
  max-width: 100%;
  border-radius: 0 0 120px 120px;
  transform: translateY(3%);
}

.hello {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.hello-btns {
  display: flex;
  gap: 1rem;
}

ion-icon {
  font-size: 24px;
  transition: transform 400ms ease-out 0.5ms;
}

a:hover > ion-icon {
  transform: translateY(-15%);
}

.icon {
  font-size: 40px;
}

.skills {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 40px; */
}

.skills-container {
  padding-top: 2rem;
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  transform: translateY(10vh);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: visibility;
}

.skills-container.show-skills {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.skill-card {
  width: 140px;
  height: 140px;
  background-color: var(--card-bg);
  transition: transform 250ms ease-in-out 0.25ms;
  border-radius: 25px;
  box-shadow: var(--primary-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  align-items: center;
}

.skill-card img {
  width: 40px;
}

.skill-card:hover {
  transform: scale(105%);
}

.skill-text {
  font-size: 0.7rem;
}

.projects {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-container {
  max-width: 840px;
  height: 100%;
  margin-top: 40px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.project-card {
  width: 400px;
  height: 400px;
  border-radius: 5px;
  background: var(--card-bg);
  transition-duration: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  padding: 20px;
  box-shadow: var(--primary-shadow);
  transform: translateY(10vh);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: visibility;
}

.project-card.show-proj {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.project-card a:hover {
  color: var(--alt-color);
}

.proj-title {
  font-weight: 700;
  color: var(--primary-color);
  text-transform: uppercase;
}

.proj-btn {
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: transparent;
  color: var(--alt-color);
  border: 2px solid var(--alt-color);
  transition: background-color 0.7s ease-in-out;
}

.proj-btn:hover {
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  background-color: var(--alt-color);
}

.proj-title {
  font-size: 1.2em;
  color: var(--bg-color);
}

.proj-btns {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

footer {
  background: transparent;
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
  font-size: 0.6rem;
}

/* Tablet */
@media only screen and (max-width: 720px) {
  .navbar {
    padding: 1rem 2rem;
  }

  nav ul {
    gap: 1rem;
  }

  .half {
    padding-left: 10%;
  }

  .img-bg {
    width: 200px;
  }
}

/* Mobile */
@media only screen and (max-width: 500px) {
  .burger-menu {
    display: block;
  }

  .navigation {
    display: none;
  }

  .hero {
    flex-direction: column;
  }

  .bio {
    max-width: 100%;
    padding: 10px;
  }

  .bio-title {
    font-size: 2rem;
  }

  .bio-text {
    font-size: 1.6rem;
  }

  .half {
    padding-left: 0;
  }

  .img-bg {
    width: 180px;
  }

  .skills {
    padding: 5px;
  }

  .project-card {
    width: 360px;
  }
}
